#map-container {
    width: 100vw !important;
    height: 100%;
    padding: none;
    background-color: lightgrey;
    border: black 1px solid;
    position: absolute; /* Added to ensure full coverage */
    left: 0; /* Added to ensure alignment from left edge */
    top: 0; /* Added to ensure alignment from top edge */
}